{
    "presets": ["react"],
    "plugins": [
        "transform-object-rest-spread",
        "syntax-dynamic-import",

        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": true }]
    ]
}